/* BODY DEL CUERPO HTML --------------------------------- */

.admin-body-principal{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }



/* ESTILOS DEL HEADER --------------------------------- */


.admin-header{
    height: 15%;
    width: 100%;
    margin: 0%;
    background-color: #4A1E9E;
    display: grid;
    position: sticky;
    top: 0;
    grid-template-columns: repeat(5,1fr);
}

.admin-header-title-menu{
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    margin: 0;
}

.admin-header-title-menu:hover{
    color: #edebf1;
    background-color: rgba(73, 0, 70, 0.13);
    padding: 2%;
    border-radius: 10%;
    cursor: pointer;
}


.admin-header-title-principal{
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    margin: 0;
}

.admin-header-title-user{
    grid-column: 4;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    margin: 0;
}

.admin-user-image-principal{
    grid-column: 5;
    grid-row: 1;
    border-radius:60px;
    width:  17%;
    height: 80%;
    justify-self:right;
    align-self: center;
    margin-right: 30%;
}

.admin-user-image-principal:hover{
    background-color: #ffffff;
    cursor: pointer;
  }

.admin-add-icon-principal{
    grid-column:1;
    grid-row: 1;
    width:  17%;
    height: 80%;
    justify-self:left;
    align-self: center;
    margin-left: 30%;
}

.admin-add-icon-principal:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: #ffffff1a;
  }

/* DIV TIPO NAV CENTRAL ------------------------------------------- */

.fount{
    color: #4A1E9E;
    font-size: 2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.admin-img{
    width:100%;
    height: 100%;
} */

.admin-img-nav{
    width: 50%;
    height: 50%;
}

.admin-center-nav{
    display: grid;
    position: sticky;
    grid-template-columns: repeat(1,1fr);
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 85%;
    background-color: rgb(244, 248, 248);
}

.admin-nav{
    margin: 0%;
    padding: 0%;
    width: 80%;
    height: 95%;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;

    display: grid;
    position: sticky;
    grid-template-columns: repeat(2,2fr);
}

/* Elemento 1 */

.admin-nav-element-1{
    margin: 0%;
    padding: 0%;
    width: 98%;
    height: 95%;
    background-color: #33156E;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    border-top-left-radius: 2.5vw;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.329);

}

.admin-nav-element-1:hover{
    background-color: #33156e6b;
    cursor: pointer;
}

.admin-subnav-1{
    height: 80%;
    width: 90%;
    background-color: #DDCBFF;
    margin: 5%;
    border-radius: 15px;
    box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.25);
    color:#4A1E9E;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


/* Elemento 2 */


.admin-nav-element-2{
    margin: 0%;
    padding: 0%;
    width: 98%;
    height: 95%;
    background-color: #ECE8F5;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    border-top-right-radius: 2.5vw;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.356);
}

.admin-nav-element-2:hover{
    background-color: #1a02527a;
    cursor: pointer;
}

.admin-subnav-2{
    height: 80%;
    width: 90%;
    background-color: #DDCBFF;
    margin: 5%;
    border-radius: 15px;
    box-shadow: 7px -7px 10px rgba(255, 255, 255, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ELEMENTO 3 */

.admin-nav-element-3{
    margin: 0%;
    padding: 0%;
    width: 98%;
    height: 95%;
    background-color: #9278C4;
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    border-bottom-left-radius: 2.5vw;
    box-shadow: 7px -7px 10px rgba(0, 0, 0, 0.356);
}

.admin-nav-element-3:hover{
    background-color: #9378c48a;
    cursor: pointer;
}

.admin-subnav-3{
    height: 80%;
    width: 90%;
    background-color: #DDCBFF;
    margin: 5%;
    border-radius: 15px;
    box-shadow: -7px 7px 10px rgba(255, 255, 255, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ELEMENTO 4 */

.admin-nav-element-4{
    margin: 0%;
    padding: 0%;
    width: 98%;
    height: 95%;
    background-color: #250F4F;
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    border-bottom-right-radius: 2.5vw;
    box-shadow: -7px -7px 10px rgba(0, 0, 0, 0.356);
}

.admin-nav-element-4:hover{
    background-color: #250f4f73;
    cursor: pointer;
}

.admin-subnav-4{
    height: 80%;
    width: 90%;
    background-color: #DDCBFF;
    margin: 5%;
    border-radius: 15px;
    box-shadow: 7px 7px 10px rgba(255, 255, 255, 0.25);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ESTADISTICAS ------------------------------------------------------------------------------------------ */

.divestadisticas{
    margin: 0%;
    padding: 0%;
    width: 98%;
    height: 95%;
    background-color: #33156E;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    border-radius: 2.5vw;
    box-shadow: 7px 7px 10px rgba(63, 0, 71, 0.664);


  display: flex;
  justify-content: center; 
  align-items: center; 
}

.subdivestadisticas{
    height: 95%;
    width: 98%;
    background-color: #ECE8F5;
    margin: 0%;
    padding-top: 1%;
    border-radius: 2.5vw;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
    color:#4A1E9E;

    display: grid;
    position: sticky;
    grid-template-columns: repeat(2,4fr);
    
}

.statistic{
    background-color: #DDCBFF;
    width: 98%;
    height: 90%;
    border-radius: 1.5vw;
    justify-self: center;

    display: grid;
    position: sticky;
    grid-template-columns: 60% 40%;
}

.title-statistic{
  width: 97%;
  height: 90%;  
  color: #ffffff;
  background-color: #250F4F;
  align-self: center;
  margin-right: 1%;
  justify-self: right;
  border-radius: 1.5vw;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  text-align: center;
  font-size: 1.5vw;
}

.content-statistic{
    align-self: center;
    background-color: #9278C4;
    width: 95%;
    height: 90%; 
    border-radius: 1.5vw;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    text-align: center;
    font-size: 2vw;
}

/* ADMINISTRACION DE VARIABLES ------------------------------------------------------------------------------------------ */

.admin-center-nav-var{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 85%;
    background-color: rgb(244, 248, 248);
    flex-direction: column;
}

.divVariables{
    margin-top: 1%;
    padding: 0%;
    width: 98%;
    height: 37%;
    background-color: #33156E;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    border-radius: 2.5vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 7px 7px 10px rgba(63, 0, 71, 0.664);


    display: grid;
    position: sticky;
    grid-template-columns: repeat(2, 1fr);
}


.select-var:hover{
    background-color: rgba(240, 248, 255, 0.486);
    cursor: pointer;
}

.select-var{
    background-color: #eae2fa;
    width: 96%;
    height: 90%;
    align-self: center;
    border-radius: 1.5vw;
    justify-self: center;
    overflow: hidden;
    
    display: grid;
    position: sticky;
    grid-template-columns: 40% 60%;
}

.select-var:active {
    border: 2px solid;
    border-color: aliceblue;
  }

.title-variable{
    width: 97%;
    height: 90%;  
    color: #ffffff;
    background-color: #250F4F;
    align-self: center;
    margin-right: 1%;
    justify-self: right;
    border-radius: 1.5vw;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    text-align: center;
    font-size: 1.5vw;
    flex: 1;
  }
  
  .content-variable{
      align-self: center;
      background-color: #9278C4;
      width: 98%;
      height: 90%; 
      border-radius: 1.5vw;
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
      text-align: center;
      font-size: 2vw;

      display: flex;
      justify-content: center; 
      align-items: center; 
      flex:1;
  }

.admin-img-nav-variable{

    width: 22%;
}

.admin-img-variable{
    width:80%;
    height: 80%;
}

.divVariables-dos{
    margin-top: 1%;
    background-color: #ECE8F5;
    height:100%;
    width: 98%;
    border:2px solid;
    border-color: #4e4c521e;
    box-shadow: 0px -5px 15px #4e4c5280;

    color:#4A1E9E;

    display: grid;
    grid-template-rows: 20% auto;
    grid-template-columns: 1fr; 
    grid-gap: 10px;
}



.container-browser-var{
    margin-top: 1%;
    width: 80%;
    height: 100%;
    border-radius: 1.5vw;
    background-color: #DDCBFF;
    justify-self: center;

    display: grid;
    grid-template-columns: 10% 70% 20%; /* Tamaños específicos para cada columna */
    grid-gap: 0%;
}

.icon-browser-var{
    background-color: #8A2BE2;
    width: 70%;
    height: 80%;
    border-radius: 1vw;

    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: center; 
    align-items: center; 
}

.admin-conticon-build{
    width: 70%;
    height: 70%;
}

.admin-img-build{
    width: 100%;
    height: 100%;
}

.bar-browser-var{
    background-color: #ffffff;
    height: 45%;
    align-self: center;
    border:none;
    color:#4A1E9E;
}

.button-browser-var{
    background-color: #4A1E9E;
    height: 45%;
    width: 75%;
    align-self: center;
    color:#ffffff;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-browser-var:hover{
    background-color: #4b1e9e88;
    cursor: pointer;
}

.button-browser-var:active {
    border: 2px solid;
    border-color: aliceblue;
  }


.container-results-var{
    padding-top: 1%;

margin-top: 1%;
width: 80%;
height: 100%;
border-radius: 1.5vw;
justify-self: center;

display: grid;
grid-template-columns: 1fr 1fr;
grid-auto-rows: 30%;
grid-gap: 0;
}

.building-var{
    margin-top: 1%;
    background-color: #DDCBFF;
    width: 80%;
    height: 90%;
    border-radius: 1vw;

    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 20% 15% 40% 25%; /* Tamaños específicos para cada columna */
    grid-gap: 1;
}

.id-edificio-var{
    align-self: center;
    justify-self: center;
}

.nombre-edificio-var{
    align-self: center;
    justify-self: center;
}

.button-editar-var{
    background-color: #4A1E9E;
    height: 75%;
    width: 90%;
    align-self: center;
    color:#ffffff;
    text-align: center;
    border-radius: 1vw;


    display: flex;
    align-items: center;
    justify-content: center;
}

.button-editar-var:hover{
    background-color: #4b1e9e88;
    cursor: pointer;
}

.button-editar-var:active {
    border: 2px solid;
    border-color: aliceblue;
  }