#root {
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
  width: 100%;
}
body{
  width: 100%;
  height: 100%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media only screen and (max-width: 768px) {
   /* #DDCBFF
  #8A2BE2
  #4A1E9E
  #BB98FF */
  .read-the-docs {
    color: #888;
  }
  .body-login{
    width: 100%;
    height: 100%;
    background-color: #4A1E9E;
  }
  .card {
  padding: 3.5em;
  border-radius: 5%;
  height: 100%;
  background-color: white;
  }
  h1,h2,h3,h4{
    font-size: 4vw;
    color: #BB98FF;
  }
  .title-login{
    font-size: 8vw;
    text-align: center;
    margin-top: 0;

  }
  .input-login::placeholder{
    color: #BB98FF;
  }
  .title-data-login{
    text-align: left;
    margin-bottom: 2%;
    color: #BB98FF;
  }
  .input-login{
    background-color: #DDCBFF;
    padding: 3%;
    border: 0;
    border-radius: 10px;
    color: #4A1E9E;
    width: 100%;
    border-bottom: solid #BB98FF;
  }
  /* Page ---Principal----  */
  .body-principal{
    background-color: #d2ff98;
    width: 100%;
    height: 100%;
  }
  .header-principal{
    height: 10%;
    width: 100%;
  }
  .section-usuario-principal{

  }
}
  /* #DDCBFF
  #8A2BE2
  #4A1E9E
  #BB98FF */
  .read-the-docs {
    color: #888;
  }
  .card {
  padding: 3.5em;
  border-radius: 5%;
  height: 100%;
  background-color: white;
}
h1,h2,h3,h4{
  color: #BB98FF;
}
.title-login{
  margin-top: 0;

}
.input-login::placeholder{
  color: #BB98FF;
}
.title-data-login{
  text-align: left;
  margin-bottom: 2%;
  color: #BB98FF;
}
.input-login{
  background-color: #DDCBFF;
  padding: 3%;
  border: 0;
  border-radius: 10px;
  color: #4A1E9E;
  width: 100%;
  border-bottom: solid #BB98FF;
}
.autentication-with-google{
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  margin-left: 15%;
  margin-top: 3%;
  justify-content: center;
}
