*{
  margin: 0;
}
td, tr{
  color: #4A1E9E;
}
#root {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  width: 100%;
  height: 100%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


  /* .section-usuario-principal{

  } */

  /* #DDCBFF
  #8A2BE2
  #4A1E9E
  #BB98FF */
  .read-the-docs {
    color: #888;
  }
.card {
padding: 3em;
border-radius: 40px;
height: 45%;
width: 25%;
background-color: white;
}
.body-login{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4A1E9E;
}
h1,h2,h3,h4{
  color: #BB98FF;
}
.title-login{
  margin-top: 0;
  font-size: 2.2vw;

}
.input-login::placeholder{
  color: #BB98FF;
  font-size: 1vw;
}
.title-data-login{
  text-align: left;
  margin-bottom: 2%;
  color: #ba98ff69;
  font-size: 1.4vw;
}
.input-login{
  background-color: #DDCBFF;
  padding: 3%;
  border: 0;
  border-radius: 10px;
  color: #4A1E9E;
  width: 100%;
  border-bottom: solid #BB98FF;
}
.login-email-password a{
  font-size: 1vw;
}
/* Page ---Principal----  */
.body-principal{
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.header-principal{
  height: 10%;
  width: 100%;
  background-color: #4A1E9E;
  display: grid;
  grid-template-columns: 20%, 60%,20%;
}
.header-title-principal{
  grid-column: 2;
  grid-row: 1;
  justify-self: left;
  margin: 0;
}
.add-icon-principal{
  grid-column:1;
  grid-row: 1;
  width:12%;
  justify-self:left;
  margin:0.5%;
 }

.user-image-principal{
 grid-column: 3;
 grid-row: 1;
 border-radius:60px;
 width:16%;
 justify-self:right;
 margin:1%;
}
.user-image-principal:hover{
  background-color: #ffffff;
  cursor: pointer;
}
.add-icon-principal:hover{
  cursor: pointer;
  border-radius: 20px;
  background-color: #ffffff1a;
}
.section-user-principal{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 40%;
}
.hello-user-principal{
  font-size: 2.5vw;
  text-align: center;
}
.section-devices-principal{
 width: 98%;
 height: 30%;
}
/* .div-add-zone-principal{
  width: 30%;
  height: 70%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  background-color: #DDCBFF;
}
.div-add-zone-principal:hover{
  background-color: #4A1E9E;
  cursor: pointer;
} */
/* .add-zone-icon-principal{
  grid-row: 1;
  grid-column: 1;
  width: 45%;
  margin: 5%;
}
.add-zone-text-principal{
  grid-row: 3;
  grid-column:1 / 2;
  font-size: 1.2vw;
  margin: 19%;
  white-space: nowrap;
} */
.see-users-principal{
 background-color: #4A1E9E;
 color: white;
 text-align: center;
 padding: 10px;
 border-radius: 20px;
 height: 50%;
 width: 30%;
}



@media only screen and (max-width: 768px) {
  /* #DDCBFF
 #8A2BE2
 #4A1E9E
 #BB98FF */
 *{
  margin: 0;
 }
 .read-the-docs {
   color: #888;
 }
 .body-login{
   width: 100%;
   height: 100%;
   background-color: #4A1E9E;
 }
 
 .card {
 padding: 6vw;
 border-radius: 10px;
 height: auto;
 width: 60%;
 background-color: white;
 }
 .card-signIn {
  padding: 1vw;
  border-radius: 10px;
  height: auto;
  width: 60%;
  background-color: white;
  }
 h1,h2,h3,h4,label,p{
   color: #4A1E9E;
 }
 .title-login{
   font-size: 4vw;
   text-align: center;
   margin-top: 0;
   color: #BB98FF;

 }
 .input-login::placeholder{
   color: #BB98FF;
   font-size: 2.5vw;
 }
 .title-data-login{
   text-align: left;
   margin-bottom: 2%;
   font-size: 2.5vw;
   color: #BB98FF;
 }
 .input-login{
   background-color: #DDCBFF;
   padding: 3%;
   border: 0;
   border-radius: 10px;
   color: #4A1E9E;
   width: 95%;
   border-bottom: solid #BB98FF;
 }
 
 .login-email-password {
  padding: 3vw;
 }
 .login-email-password a{
  font-size: 2.2vw;
 }
 /* Page ---Principal----  */
 .body-principal{
   background-color: #ffffff;
   width: 100%;
   height: 100%;
 }
 .body-principal h1,h2,h3,h4,h5{
  font-size: 6.5vw;
  margin-left: 2%;
 }
 .header-principal{
   height: 7%;
   width: 100%;
   background-color: #4A1E9E;
   display: grid;
   position: sticky;
   top: 0;
   grid-template-columns: repeat(3,1fr);
 }

.header-title-principal{
  color: #DDCBFF;
  grid-column: 2;
  grid-row: 1;
  justify-self: left;
  margin: 0;
}
.add-icon-principal{
  grid-column:1;
  grid-row: 1;
  width:40%;
  justify-self:left;
  margin:0.5%;
 }

.user-image-principal{
 grid-column: 3;
 grid-row: 1;
 border-radius:60px;
 width:40%;
 justify-self:right;
 margin:1%;
}
.user-image-principal:hover{
  background-color: #ffffff;
  cursor: pointer;
}
.add-icon-principal:hover{
  cursor: pointer;
  border-radius: 20px;
  background-color: #ffffff1a;
}
.section-user-principal{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 20%;
}
.hello-user-principal{
  font-size: 3.5vw;
  text-align: center;
}
.section-devices-principal{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: min-content;
}
.div-add-zone-principal{
  width: 40%;
  max-height: 130px;
  margin: 1%;
  float: left;

  height: 40%;
  border-radius: 30px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(4,1fr);
  background-color: #8A2BE2;
}
.div-add-zone-principal:hover{
  background-color: #4A1E9E;
  cursor: pointer;
}
.add-zone-icon-principal{
  grid-row: 1;
  width: 20%;
  justify-self: left;
}
.add-zone-text-principal{
  grid-row: 4;
  font-size: 3.2vw;
  align-items: end;
  white-space: nowrap;
}
.background-principal{
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e0944c7;
  height: 100%;
  width: 100%;
}
.card-principal{
  padding: 4%;
  width: 70%;
  height: auto;
  border-radius: 35px;
  background-color: white;
}
.list-principal{
  margin-top: 1%;
  background-color: #DDCBFF;
  width: 100%;
  border-radius: 5px;
 }
 .list-principal option:hover{
  background-color: #4A1E9E;
 }

.see-users-principal{
 background-color: #4A1E9E;
 color: white;
 text-align: center;
 padding: 10px;
 border-radius: 20px;
 height: 50%;
 width: 30%;
}
/* SeeZone */
.section-image-zone{
  padding: 10%;
  padding-top: 3%;
  display: flex;
  height: 30%;
  border-bottom: solid #4b1e9e13;
}


/* User Account */
.name-user-userAccount{
  font-size: 4.5vw;
  grid-column: 2;
  grid-row: 3;
  align-self: center;
}
.section-data-useraccount{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 6%;
}
.user-image-userAccount{
  border-radius: 51px;
  grid-column: 1;
  margin-right: 3%;
  grid-row: 1/8;
  justify-self: right;
}
.name-role-userAccount{
  color: #7a7a7a88;
  font-size: 4vw;
  align-self: start;
  grid-column: 2;
  grid-row: 4;
}

.btn-edit-data-user{
  width: 30%;
  text-align: center;
  border-radius: 20px;
  align-self: start;
  grid-column: 2;
  grid-row: 5;
  background-color: #4A1E9E;
}
.section-devices-userAccount{
  border-top: solid #4b1e9e13;
  width: auto;
  height: auto;

 }

.add-zone-userAccount{
  box-sizing: border-box;
  width: 40%;
  margin-left: 1%;
  float: left;
  height: 40%;
  border-radius: 30px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  background-color: #8A2BE2;
}

.add-zone-userAccount:hover{
  background-color: #4A1E9E;
  cursor: pointer;
}
.add-zone-icon-userAccount{
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}
.add-zone-text-userAccount{
  grid-row: 3;
  align-self: flex-end;
  margin: 20%;
  grid-column:1 / 2;
  font-size: 2.6vw;
  
  white-space: nowrap;
}

.btn-submit-data-user{
  width: auto;
  padding: 5%;
  border: 0;
  text-align: center;
  border-radius: 20px;
  margin-top: 2%;
  background-color: #4A1E9E;
}

/* SeeSensors */
.values-devices-SeeSensor {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px; 
  padding: 2%;
}

.section-value-SeeSensor {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: #DDCBFF; 
  padding: 3%; 
  border-radius: 30px;
  text-align: center; 
  font-size: 18px;
}
.gauge {
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #009578;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}


}